footer{
    display: flex;
    flex-direction: row;
    width: calc(100% - 200px);
    padding: 25px 100px;
    justify-content: space-between;
    align-items: center ;
}
footer img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
footer a{
    border: solid 1px #363749;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.link-footer{
    display: flex;
    gap: 10px;
}
.malt-img{
    transform: scale(0.8);
}