.container-grid {
width: 100%;
max-width: 1440px;
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
gap: 25px;
}

.div1 { 
    height: 400px;
    width: 100%;
    grid-area: 1 / 1 / 5 / 5; 
    border-radius: 25px;
    border: solid 1px #363749;
    background-size: cover;
    background-image: url('../../../../public/background-pc.png');
}
.div2 { 
    grid-area: 1 / 5 / 3 / 8;  
    background-color: #04071D;
    border: solid 1px #363749;    
    border-radius: 25px;
}
.div3 { 
    grid-area: 3 / 5 / 5 / 8;
    background-color: #04071D;
    border: solid 1px #363749;    
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
.div4 { 
    grid-area: 5 / 1 / 7 / 4;
    background-image: url('../../../../public/Background.png');
}
.div5 { 
    background-image: url('../../../../public/backgroundblobservicepng.png');
    background-repeat: no-repeat;
    grid-area: 7 / 1 / 9 / 4; }
.div6 { 
    grid-area: 5 / 4 / 9 / 8;
    background-image: url('../../../../public/Background.png');
}
