.reviews-container {
  width: calc(100% - 200px);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.reviews-grid {
  display: flex;
  gap: 25px;
}

.review-card {
  background-image: url('../../../../public/review-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 500px; /* largeur fixe */
  border: solid 1px #363749;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.review-header {
  display: flex;
  flex-direction: column;
}
