@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #04071D;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
main{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
h2{
    font-size: 30px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}
.container{
    width: calc(100% - 200px);
    padding: 100px;
}
.button{
    padding: 10px 20px;
    background-color: #10132E;
    color: #E4ECFF;
    border: 1px solid #6971a27d;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}