body{
    background-color: #04071D;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 100%;
    max-width: 1440px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}