.banner{
    height: 90vh;
    width: calc(100% - 200px);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;
    background-image: url('../../../../public/background-carre.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.banner p{
    font-size: 20px;
    text-transform: uppercase;
}
.banner h1{
    font-size: 70px;
    text-transform: capitalize;
}
.banner h2{
    font-size: 25px;
    margin-bottom: 0;
}

.banner a{
    background: linear-gradient(#161A31, #06091F);
    padding: 25px;
    width: auto;
    border-radius: 15px;
    border: solid 1px #6971a2b3 ;
}