#projets{
    padding: 100px;
    width: calc(100% - 200px);
    max-width: 1440px;
    text-align: center;
}
.container-projets-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin-top: 25px;
}
h2 span{
    color: #CBACF9;
}
.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C0E23;
    border-radius: 25px;
    border: solid 1px #363749;
    padding: 25px;
}
.background-projet{
    background-image: url('../../../../public/background-projet.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border: solid 1px #13162D;
    justify-content: center;
    border-radius: 25px;
    width: calc(100% - 100px);
    padding: 50px;
    height: 300px;
}
.projet .image-projet{
    object-fit: cover;
    height: calc(100% - 50px);
    rotate: 2deg;
    border-radius: 15px 15px 0 0 ;
    position: relative;
    top: 10px;
}
.details-projets{
    width: 100%;
    text-align: start;
    background-color: #0c0e23;
}
.details-projets h3{
    font-size: 25px;
}
.details-projets p{
    font-size: 20px;
}
.tech-projet{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 0;
    align-items: center;
}
.tech-projet img{
    width: 50px;
    height: 40px;
    object-fit: contain;
    rotate: 0deg;
    border-radius: 0;
}
.link-projet{
    display: flex;
    width: 100%;
    text-align: end;
    justify-content: flex-end;
    color: #CBACF9;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link img{
    width: 20px;
    object-fit: cover;
}