.experience-container{
    width: calc(100% - 200px);
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.experience-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.experience-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding: 50px 25px;
    background-color: #0C0E23;
    border-radius: 25px;
    border: solid 1px #363749;
}
.experience-content h3{
    font-size: 25px;
}
.experience-content-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.experience-content p{
    color: #BEC1DD;
}

@media screen and (max-width : 767px) {
    .experience-container{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        padding: 50px 20px;
    }
    .experience-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .experience-content{
        padding: 25px;
    }
    .experience-content img{
        height: 65px;
    }
}